[submodule "notes"]
	path = notes
	url = git@github.com:Guminola/GMST-Notes.git
[submodule "docs"]
	path = docs
	url = git@github.com:Guminola/GMST-Documentation.git
[submodule "STAIG"]
	path = STAIG
	url = git@github.com:Guminola/STAIG.git
